.idea/
**/.DS_Store
**/.ipynb_checkpoints
**/__pycache__
**/bot_keywords.py
**/statbot/all_configurations.py
**/main.py
**/loaders/ipterms/
**/venv/
**/db_conversion.py
**/logs
/statbot/all_configurations.py
